<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置Bean后置处理器 -->
    <!-- 这个Bean后置处理器将作用于整个配置文件中的所有Bean -->
    <bean class="com.bryan8.spring6.bean.LogBeanPostProcessor"/>

    <bean id="userBean" class="com.bryan8.spring6.bean.User"
          init-method="initBean" destroy-method="destroyBean" scope="prototype">
        <property name="name" value="张三"/>
    </bean>

<!--    <bean id="vipBean" class="com.bryan8.spring6.bean.Vip"/>-->
</beans>