<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDaoBean" class="com.bryan3.spring6.dao.UserDao"/>
    <bean id="vipDaoBean" class="com.bryan3.spring6.dao.VipDao"/>
    <bean id="csBean" class="com.bryan3.spring6.service.CustomerService">
        <!-- 构造注入 -->
        <!-- index 指定参数下标，第一个为0，第二个为1 -->
        <constructor-arg index="0" ref="userDaoBean"/>
        <constructor-arg index="1" ref="vipDaoBean"/>
    </bean>

    <bean id="csBean2" class="com.bryan3.spring6.service.CustomerService">
        <!-- 根据构造方法参数的名称进行注入 -->
        <constructor-arg name="userDao" ref="userDaoBean"/>
        <constructor-arg name="vipDao" ref="vipDaoBean"/>
    </bean>

    <bean id="csBean3" class="com.bryan3.spring6.service.CustomerService">
        <!-- 根据构造方法参数的类型进行注入，Spring会自动根据类型决定将ref注入给哪个参数 -->
        <constructor-arg ref="userDaoBean"/>
        <constructor-arg ref="vipDaoBean"/>
    </bean>
</beans>