<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="orderDaoBean" class="com.bryan4.spring6.dao.OrderDao"/>

    <bean id="orderServiceBean" class="com.bryan4.spring6.service.OrderService">
        <property name="orderDao" ref="orderDaoBean"/>
    </bean>-->


    <!-- 根据名字自动装配
        id不能随便填写，id为set方法名去掉set后，将首字母改为小写
     -->
    <bean id="orderServiceBean" class="com.bryan4.spring6.service.OrderService" autowire="byName"/>

    <bean id="orderDao" class="com.bryan4.spring6.dao.OrderDao"/>

    <!-- 根据类型进行自动装配
        某一种类型的实例[只能有一个]
    -->
    <bean class="com.bryan4.spring6.dao.UserDao"/>
    <bean class="com.bryan4.spring6.dao.VipDao"/>
    <bean id="customerServiceBean" class="com.bryan4.spring6.service.CustomerService" autowire="byType"/>
</beans>